<template name="home">
	<div class="home">
		<div class="container">
			<div class="row home-row">
				<div class="col-sm-6 col-xs-6 home-col">
					<a href="{{pathFor route='eat'}}">
					<button class="btn btn-lg btn-home"><img src="../images/galf.jpg" class="img-responsive">
					</button>
					</a>
				</div>
				<div class="col-sm-6 col-xs-6 home-col">
				<a href="{{pathFor route='events'}}">
				<button class="btn btn-lg" id="showMenu"><img src="../images/wilshirelogo.jpg" class="img-responsive"></button>
				</a>
				</div>
			</div>
		</div>
	</div>
</template>