.home {
	padding-top:50px;
}

.btn-home {
	padding:0;
}

.logo {
	height:100%;
}

.row.home-row {
	padding-right:5px;
	padding-left:5px;
}

.col-sm-6.home-col {
	padding-right:5px;
	padding-left:5px;
}

.col-xs-6.home-col {
	padding-left:5px;
	padding-right:5px;
}

