<template name="eat">
	<div class="eat">
		<div class="container">
			<div class="row eat-row">
				<div class="col-sm-12 col-xs-12 eat-col">
					<h3>Resturant & Food</h3>
				</div>
				<div class="col-sm-12 col-xs-12 eat-col">
					<a href="{{pathFor route='home'}}"><button class="btn btn-lg btn-eat"><img src="../images/galf.jpg" class="img-responsive"></button></a>
				</div>
				<div class="col-sm-12 col-xs-12 eat-col">
				<button class="btn btn-lg"><img src="../images/wilshirelogo.jpeg" class="img-responsive"></button>
				</div>
			</div>
		</div>
	</div>

</template>