.eat {
	padding-top:50px;
}

.btn-eat {
	padding:0;
}

.row.eat-row {
	padding-left:5px;
	padding-right:5px;
}

.col-sm-12.eat-col {
	padding-left:5px;
	padding-right:5px;
}

.col-xs-12.eat-col {
	padding-left:5px;
	padding-right:5px;
}