<template name="memberheader">
<header class="bar bar-nav header">
	<button class="btn pull-left btn-header" id="showMenu">
		<span class="icon icon-list"></span>
	</button>
	{{#if currentUser}}
	<a href="{{pathFor route='profile' username=username}}">
	<button class="btn pull-right btn-header">
		<span class="icon icon-person">{{name}}</span>
	</button>
	</a>{{else}}
	{{> loginButtons}}
	{{/if}}
	<div class="logo">
 	 <a href="{{pathFor route='home'}}" class="logo title"><img src="../images/wilshirelogo.jpg" height="35px"></a>
  	</div>
</header>

</template>