<template name="memberheader">
<header class="bar bar-nav header">
{{#if currentUser}}
	<div class="menu-bars pull-left">
	<a href="#">
		<span class="icon icon-bars"></span>
	</a>
	</div>
	<div class="profile-button pull-right">
	<a href="{{pathFor route='profile' username=username}}">
		<span class="icon icon-person">{{profile.firstName}}</span>
	</a>
	</div>
	
	<div class="logo">
 	 <a href="{{pathFor route='home'}}" class="logo title"><img src="../images/wilshire.png" height="35px"></a>
  	</div>

  	{{else}}
	<div class="logo">
 	 <a href="#" class="logo title"><img src="../images/wilshire.png" height="35px"></a>
  	</div>

	{{/if}}

</header>
</template>