<template name="profile">

<div class="profile">
<a href="#">Hey You!</a>

{{>profilebar}}
</div>
</template>

<template name="profilebar">
<nav class="bar bar-tab">

  <a class="tab-item active" href="{{pathFor route='profile' username=username}}">
    <span class="icon icon-person"></span>
    <span class="tab-label">Profile</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-check"></span>
    <span class="tab-label">Scorecard</span>
  </a>
  <a class="tab-item" href="{{pathFor route='messages' username=username}}">
    <span class="icon icon-compose"></span>
    <span class="tab-label">Messages</span>
  </a>

  <a class="tab-item" href="{{pathFor route='editprofile'}}">
    <span class="icon icon-search"></span>
    <span class="tab-label">Search</span>
  </a>
</nav>
</template>